<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="min-box">
        <div class="crumbs-nav">
            <span class="crumbs-title">您的位置：</span>
            <a ui-sref="my">个人中心</a>
            <a ui-sref="my/orderList" class="crumbs-arrow">我的订单</a>
        </div>
        <div class="radius-box">
            <div class="rb-title">
                <h2>订单信息</h2>
            </div>
            <div class="rb-main">
                <dl>
                    <dt>收货地址：</dt>
                    <dd>黄谦谦，18688448880 ，广东省 广州市 天河区 车陂街道 棠东冠达商务中心 ，510510</dd>
                </dl>
                <dl>
                    <dt>买家留言：</dt>
                    <dd>请检查好，不要缺少零件，尽快给我发货，谢谢</dd>
                </dl>
                <dl>
                    <dt>订单编号：</dt>
                    <dd>28485758476960</dd>
                </dl>
                <dl>
                    <dt>下单时间：</dt>
                    <dd>2016-10-19 15:34:45</dd>
                </dl>
                <dl>
                    <dt>付款时间：</dt>
                    <dd>2016-10-19 15:34:45</dd>
                </dl>
                <dl>
                    <dt>下发货时间：</dt>
                    <dd>2016-10-20 15:34:07</dd>
                </dl>
                <dl>
                    <dt>卖家信息：</dt>
                    <dd>深圳市俪朵电子商务有限公司</dd>
                </dl>
            </div>
        </div>
        <div class="radius-box refund-box">
            <div class="rb-title">
                <h2>申请退款</h2>
            </div>
            <div class="rb-main">
                <dl>
                    <dt class="sm-col-3 align-right">申请服务：</dt>
                    <dd>
                        <select class="txt-big">
                            <option value="1">退款退货</option>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="sm-col-3 align-right">退款退货原因：</dt>
                    <dd>
                        <select class="txt-big">
                            <option value="1">退款退货</option>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="sm-col-3 align-right">退款金额：</dt>
                    <dd><input type="text" class="input-txt txt-big"></dd>
                </dl>
                <dl>
                    <dt class="sm-col-3 align-right">退款说明：</dt>
                    <dd>
                        <textarea class="refund-explain"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt class="sm-col-3 align-right">上传凭证：</dt>
                    <dd>
                        <a href="javascript:void(0)" class="btn redbtn">选择图片</a>
                    </dd>
                </dl>
                <div class="align-center">
                    <a href="javascript:void(0)" class="btn bigBtn redbtn">确认提交</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>