<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my/collectProduct">商品收藏</a></li>
                <li><a ui-sref="my/collectShop" class="cut">店铺收藏</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--我的收藏-->
        <div class="cp-title">
            <h1>全部店铺</h1>
        </div>
        <div class="collect-shop">
            <div class="cs-item" ng-repeat="item in list">
                <div class="cs-shop-info">
                    <div class="cs-shop-logo"><img ng-lazy="item.logo"></div>
                    <div class="cs-shop-name" ng-bind="item.shopName"></div>
                    <a><i class="iconfont icon-shanchu-shanchuchengyuan" ng-click="remove(item)"></i></a>
                    <a href="javascript:void(0)" class="link-coupon">店铺优惠</a>
                </div>
                <div class="cs-product-list" ng-if="item.productList">
                    <div class="cs-pl-title">
                        <ul class="cs-pl-tab">
                            <li ng-class="{'cut':!item.hot}" ng-click="item.hot=false;switcher(item)">
                                <a href="javascript:void(0)">本周上新 <span></span></a>
                            </li>
                            <li ng-class="{'cut':item.hot}" ng-click="item.hot=true;switcher(item)">
                                <a href="javascript:void(0)">热销 <span></span></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                    </div>
                    <ul class="p-list">
                        <li class="p-item" ng-repeat="product in item.productList">
                            <div class="img-controller">
                                <a href="javascript:void(0);"><img ng-lazy="product.mainImage"></a>
                            </div>
                            <div class="name" ng-bind="product.title"></div>
                            <div class="price">
                                <span class="market-price" ng-bind="'￥'+(product.marketPrice|number:'2')"></span>
                                <span class="shop-price" ng-bind="'￥'+(product.shopPrice|number:'2')"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <pager ng-model="pager" ng-change="change(page)" class="page" ng-if="list"></pager>
    </div>
</div>
<footer></footer>