<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a ui-sref="my/message">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <ul class="cp-tab-title">
                    <li class="cut"><a href="javascript:void(0)">我的评价</a></li>
                    <li><a href="javascript:void(0)">卖家评论</a></li>
                </ul>
            </div>
            <div class="cp-main address-manage">
                <div class="am-table">
                    <table>
                        <thead>
                        <tr>
                            <td width="35%" class="left">评价内容</td>
                            <td width="25%" class="left">评价的商品</td>
                            <td width="15%" class="left">被评价人</td>
                            <td width="15%">评价时间</td>
                            <td width="10%">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="left">
                                <div class="comment-list-info">
                                    <div class="com-info">
                                        <span>好评！</span> <span>［2016-11-11 16:20:00］</span>
                                    </div>
                                    <ul class="con-img">
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="left">MO&Co.黑白罗纹字母数字口袋休闲女连衣裙MA1642DRS01 moco</td>
                            <td class="left">桂林三水天下贸易有限公司</td>
                            <td>2016-10-10 11:11:00</td>
                            <td>
                                <a href="javascript:void(0)" class="font-purple">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <div class="comment-list-info">
                                    <div class="com-info">
                                        <span>好评！</span> <span>［2016-11-11 16:20:00］</span>
                                    </div>
                                    <ul class="con-img">
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="left">MO&Co.黑白罗纹字母数字口袋休闲女连衣裙MA1642DRS01 moco</td>
                            <td class="left">桂林三水天下贸易有限公司</td>
                            <td>2016-10-10 11:11:00</td>
                            <td>
                                <a href="javascript:void(0)" class="font-purple">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <div class="comment-list-info">
                                    <div class="com-info">
                                        <span>好评！</span> <span>［2016-11-11 16:20:00］</span>
                                    </div>
                                    <ul class="con-img">
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="left">MO&Co.黑白罗纹字母数字口袋休闲女连衣裙MA1642DRS01 moco</td>
                            <td class="left">桂林三水天下贸易有限公司</td>
                            <td>2016-10-10 11:11:00</td>
                            <td>
                                <a href="javascript:void(0)" class="font-purple">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <div class="comment-list-info">
                                    <div class="com-info">
                                        <span>好评！</span> <span>［2016-11-11 16:20:00］</span>
                                    </div>
                                    <ul class="con-img">
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="left">MO&Co.黑白罗纹字母数字口袋休闲女连衣裙MA1642DRS01 moco</td>
                            <td class="left">桂林三水天下贸易有限公司</td>
                            <td>2016-10-10 11:11:00</td>
                            <td>
                                <a href="javascript:void(0)" class="font-purple">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <div class="comment-list-info">
                                    <div class="com-info">
                                        <span>好评！</span> <span>［2016-11-11 16:20:00］</span>
                                    </div>
                                    <ul class="con-img">
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                        <li><img src="images/tem/tem_browsing_pro.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="left">MO&Co.黑白罗纹字母数字口袋休闲女连衣裙MA1642DRS01 moco</td>
                            <td class="left">桂林三水天下贸易有限公司</td>
                            <td>2016-10-10 11:11:00</td>
                            <td>
                                <a href="javascript:void(0)" class="font-purple">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>