<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a ui-sref="my/message">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <h1>我的投诉</h1>
            </div>
            <div class="cp-main address-manage">
                <div class="am-table">
                    <table>
                        <thead>
                            <tr>
                                <td>投诉编号</td>
                                <td>订单编号</td>
                                <td class="left">被投诉方</td>
                                <td class="left">投诉原因</td>
                                <td>投诉状态</td>
                                <td>投诉时间</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>253636</td>
                                <td>33737578777777484</td>
                                <td class="left">桂林三水天下贸易有限公司</td>
                                <td class="left">商户拒绝退货商品质量很差不退款</td>
                                <td>已处理</td>
                                <td>2016-10-10 11:11:00</td>
                                <td>
                                    <a href="#" class="font-purple">修改</a> |
                                    <a href="#" class="font-purple">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>