<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a href="#" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a href="#">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <div class="col-sub">
            <dl><dt><a href="#">我的订单</a></dt></dl>
            <dl><dt><a href="#">我的退款</a></dt></dl>
            <dl>
                <dt><a href="#">我的优惠</a><i class="iconfont icon-xia"></i></dt>
                <dd><a href="#">我的红包</a></dd>
                <dd><a href="#">我的优惠劵</a></dd>
            </dl>
            <dl><dt><a href="#">我的积分</a></dt></dl>
            <dl><dt><a href="#">我的投诉</a></dt></dl>
            <dl><dt><a ui-sref="my/collectProduct">我的收藏</a></dt></dl>
            <dl><dt><a href="#">个人信息</a></dt></dl>
            <dl>
                <dt><a href="#">个人信息</a><i class="iconfont icon-xia"></i></dt>
                <dd><a href="#">基本资料</a></dd>
                <dd><a href="#">收货地址</a></dd>
            </dl>
            <dl>
                <dt><a href="#">生活缴费</a><i class="iconfont icon-circle_up_on"></i></dt>
                <dd><a href="#">缴纳电费</a></dd>
                <dd><a href="#">缴纳水费</a></dd>
            </dl>
        </div>

        <!--正文-->
        <div class="col-main">
            <!--我的信息-->
            <div class="my-data">
                <div class="md-info">
                    <div class="md-head-pic"><img src="images/tem/my-head-img.jpg" alt=""></div>
                    <div class="md-name">menghongyuan</div>
                    <div class="md-link">
                        <a href="#">我的收货地址</a> |
                        <a href="#">我的优惠信息</a>
                    </div>
                </div>
            </div>
            <!--我的订单-->
            <div class="my-order">
                <div class="mo-head">
                    <h2>我的订单</h2>
                    <a href="#">查看全部订单</a>
                </div>
                <div class="mo-main">
                    <table>
                        <thead>
                            <tr>
                                <td width="30%" class="left">宝贝</td>
                                <td width="15%">单价</td>
                                <td width="10%">数量</td>
                                <td width="15%">实付款</td>
                                <td width="15%">交易状态</td>
                                <td width="15%">交易操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="inner-td-pro">
                                        <img src="images/tem/tem_floor_pro.jpg" alt="">
                                        <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                    </div>
                                </td>
                                <td>￥1299.00</td>
                                <td>2</td>
                                <td>￥1299.00 <br>（含运费￥0.00）</td>
                                <td>待付款</td>
                                <td><button class="btn redbtn">立即付款</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-td-pro">
                                        <img src="images/tem/tem_floor_pro.jpg" alt="">
                                        <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                    </div>
                                </td>
                                <td>￥1299.00</td>
                                <td>2</td>
                                <td>￥1299.00 <br>（含运费￥0.00）</td>
                                <td>待付款</td>
                                <td><button class="btn redbtn">立即付款</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-td-pro">
                                        <img src="images/tem/tem_floor_pro.jpg" alt="">
                                        <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                    </div>
                                </td>
                                <td>￥1299.00</td>
                                <td>2</td>
                                <td>￥1299.00 <br>（含运费￥0.00）</td>
                                <td>待付款</td>
                                <td><button class="btn redbtn">立即付款</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--我关注的店铺-->
            <div class="my-follow-shop my-box">
                <div class="mb-title">
                    <h2>我关注的店铺</h2>
                </div>
                <div class="mb-main">
                    <div class="mb-item">
                        <div class="shop-info"></div>
                        <ul class="pro-list">
                            <li></li>
                        </ul>
                    </div>
                    <div class="mb-item"></div>
                </div>
            </div>

            <!--我收藏的商品-->
            <div class="my-collect-product"></div>

            <!--为我推荐-->
            <div class="my-recommend"></div>
        </div>
    </div>
</div>
<footer></footer>