<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my">首页</a></li>
                <li><a href="javascript:void(0);">账户</a></li>
                <li><a ui-sref="my/message" class="cut">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <ul class="cp-tab-title">
                    <li ng-class="{'cut':type.value==$stateParams.type}" ng-repeat="type in messageTypes">
                        <a href="javascript:void(0)" ui-sref="my/message({type:type.value,page:1})"
                           ng-bind="type.name"></a>
                    </li>
                </ul>
            </div>
            <div class="msg-panle">
                <ul>
                    <li ng-repeat="item in list">
                        <div class="msg-time" ng-bind="'系统消息 '+(item.sendtime|date:'yyyy-MM-dd hh:mm:ss')"></div>
                        <div class="msg-title" ng-bind="item.content"></div>
                        <a href="javascript:void(0)" class="more">查看详情 ></a>
                        <i class="iconfont icon-shanchu-shanchuchengyuan"></i>
                    </li>
                </ul>
            </div>
            <pager ng-model="pager" ng-change="change(page)" class="page" ng-if="list"></pager>
        </div>
    </div>
</div>
<footer></footer>