<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a ui-sref="my/message">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <ul class="cp-tab-title">
                    <li ng-class="{'cut':type.value==orderType}" ng-repeat="type in orderTypes">
                        <a href="javascript:void(0)" ui-sref="my/orderList({order_type:type.value,page:1})"
                           ng-bind="type.name"></a>
                    </li>
                </ul>
            </div>
            <div class="om-search" ng-init="more=false">
                <input type="text" class="om-id-text" placeholder="输入商品标题或订单号进行搜索">
                <button class="om-id-btn">订单搜索</button>
                <a href="javascript:void(0)" ng-click="more = !more">更多筛选条件</a>

                <div class="search-more" ng-show="more">
                    <div class="search-mod sm-col-4">
                        <label>成交时间</label>
                        <input type="text" class="txt-inside"> -
                        <input type="text" class="txt-inside">
                    </div>
                    <div class="search-mod sm-col-3">
                        <label>交易状态</label>
                        <select class="txt-inside">
                            <option>--请选择--</option>
                        </select>
                    </div>
                    <div class="search-mod sm-col-2">
                        <label>售后状态</label>
                        <select class="txt-inside">
                            <option>--请选择--</option>
                        </select>
                    </div>
                    <div class="search-mod sm-col-1">
                        <button class="btn purplebtn">搜索</button>
                    </div>
                </div>
            </div>
            <table class="order-title-table" ng-if="list">
                <tr>
                    <td class="left" width="35%">商品</td>
                    <td width="15%">单价</td>
                    <td width="10%">数量</td>
                    <td width="15%">实付款</td>
                    <td width="10%">交易状态</td>
                    <td width="15%">交易操作</td>
                </tr>
            </table>
            <div class="om-main">
                <div class="om-item" ng-repeat="item in list">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left" ng-bind="item.shopName"></td>
                            <td colspan="2" class="left" ng-bind="'订单号：'+item.id"></td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td>
                                <a href="javascript:void(0);" ng-if="item.canDelete" ng-click="remove(item)"><i class="iconfont icon-shanchu-shanchuchengyuan"></i></a></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in item.list">
                            <td width="35%" class="left">
                                <div class="inner-td-pro">
                                    <img ng-lazy="product.mainImage"/>

                                    <p ng-bind="product.title + ' ' + (product.skuDesc||'')"></p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through" ng-bind="'￥'+(product.marketPrice|number:2)"></span>
                                <span class="font-red" ng-bind="'￥'+(product.shopPrice|number:2)"></span>
                            </td>
                            <td width="10%" ng-bind="product.productNum">2</td>
                            <td width="15%">
                                <span ng-bind="'￥'+(item.payAmount|number:2)"></span>
                                <span ng-bind="'(含运费￥'+(item.shippingFee|number:2)+')'"></span>
                            </td>
                            <td width="10%">
                                <span ng-bind="item.orderStatusDesc">已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a href="javascript:void(0)" ng-class="{'btn redbtn':$index==0}"
                                   ng-if="item.operations"
                                   ng-repeat="oper in item.operations" ng-bind="oper.name"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page" ng-if="list">
                分页
            </div>
        </div>
    </div>

    <!--为你推荐-->
    <div class="base-recommend">
        <h2 class="title">为你推荐</h2>
        <ul class="br-main">
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer></footer>