<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a ui-sref="my/message">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <ul class="cp-tab-title">
                    <li class="cut"><a href="javascript:void(0)">所有订单</a></li>
                    <li><a href="javascript:void(0)">待付款</a></li>
                    <li><a href="javascript:void(0)">待发货</a></li>
                    <li><a href="javascript:void(0)">待收货</a></li>
                    <li><a href="javascript:void(0)">待评价</a></li>
                </ul>
            </div>
            <div class="om-search">
                <input type="text" class="om-id-text" placeholder="输入商品标题或订单号进行搜索">
                <button class="om-id-btn">订单搜索</button>
                <a href="javascript:void(0)">更多筛选条件</a>
                <div class="search-more">
                    <div class="search-mod sm-col-4">
                        <label>成交时间</label>
                        <input type="text" class="txt-inside"> -
                        <input type="text" class="txt-inside">
                    </div>
                    <div class="search-mod sm-col-3">
                        <label>交易状态</label>
                        <select class="txt-inside">
                            <option>--请选择--</option>
                        </select>
                    </div>
                    <div class="search-mod sm-col-2">
                        <label>售后状态</label>
                        <select class="txt-inside">
                            <option>--请选择--</option>
                        </select>
                    </div>
                    <div class="search-mod sm-col-1">
                        <button class="btn purplebtn">搜索</button>
                    </div>
                </div>
            </div>
            <table class="order-title-table">
                <tr>
                    <td class="left" width="35%">商品</td>
                    <td width="15%">单价</td>
                    <td width="10%">数量</td>
                    <td width="15%">实付款</td>
                    <td width="10%">交易状态</td>
                    <td width="15%">交易操作</td>
                </tr>
            </table>
            <div class="om-main">
                <div class="om-item">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left">秀峰区紫慧文体经营部</td>
                            <td colspan="2" class="left">订单号：23885485976545789494595</td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td><i class="iconfont icon-shanchu-shanchuchengyuan"></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="35%"  class="left">
                                <div class="inner-td-pro">
                                    <img src="images/tem/tem_floor_pro.jpg" alt="">
                                    <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through">￥1599.00</span>
                                <span class="font-red">￥1299.00</span>
                            </td>
                            <td width="10%">2</td>
                            <td width="15%">
                                <span>￥1299.00</span>
                                <span>（含运费￥0.00）</span>
                            </td>
                            <td width="10%">
                                <span>已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a ui-sref="my/applyRefund" class="btn redbtn">申请退款</a> <br>
                                <a href="javascript:void(0)">取消订单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="om-item">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left">秀峰区紫慧文体经营部</td>
                            <td colspan="2" class="left">订单号：23885485976545789494595</td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td><i class="iconfont icon-shanchu-shanchuchengyuan"></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="35%"  class="left">
                                <div class="inner-td-pro">
                                    <img src="images/tem/tem_floor_pro.jpg" alt="">
                                    <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through">￥1599.00</span>
                                <span class="font-red">￥1299.00</span>
                            </td>
                            <td width="10%">2</td>
                            <td width="15%">
                                <span>￥1299.00</span>
                                <span>（含运费￥0.00）</span>
                            </td>
                            <td width="10%">
                                <span>已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a ui-sref="my/applyRefund" class="btn redbtn">申请退款</a> <br>
                                <a href="javascript:void(0)">取消订单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="om-item">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left">秀峰区紫慧文体经营部</td>
                            <td colspan="2" class="left">订单号：23885485976545789494595</td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td><i class="iconfont icon-shanchu-shanchuchengyuan"></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="35%"  class="left">
                                <div class="inner-td-pro">
                                    <img src="images/tem/tem_floor_pro.jpg" alt="">
                                    <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through">￥1599.00</span>
                                <span class="font-red">￥1299.00</span>
                            </td>
                            <td width="10%">2</td>
                            <td width="15%">
                                <span>￥1299.00</span>
                                <span>（含运费￥0.00）</span>
                            </td>
                            <td width="10%">
                                <span>已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a ui-sref="my/applyRefund" class="btn redbtn">申请退款</a> <br>
                                <a href="javascript:void(0)">取消订单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="om-item">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left">秀峰区紫慧文体经营部</td>
                            <td colspan="2" class="left">订单号：23885485976545789494595</td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td><i class="iconfont icon-shanchu-shanchuchengyuan"></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="35%"  class="left">
                                <div class="inner-td-pro">
                                    <img src="images/tem/tem_floor_pro.jpg" alt="">
                                    <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through">￥1599.00</span>
                                <span class="font-red">￥1299.00</span>
                            </td>
                            <td width="10%">2</td>
                            <td width="15%">
                                <span>￥1299.00</span>
                                <span>（含运费￥0.00）</span>
                            </td>
                            <td width="10%">
                                <span>已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a ui-sref="my/applyRefund" class="btn redbtn">申请退款</a> <br>
                                <a href="javascript:void(0)">取消订单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="om-item">
                    <table class="order-main-table">
                        <thead>
                        <tr>
                            <td class="left">秀峰区紫慧文体经营部</td>
                            <td colspan="2" class="left">订单号：23885485976545789494595</td>
                            <td colspan="2">时间：2016-10-19 10:34:59</td>
                            <td><i class="iconfont icon-shanchu-shanchuchengyuan"></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="35%"  class="left">
                                <div class="inner-td-pro">
                                    <img src="images/tem/tem_floor_pro.jpg" alt="">
                                    <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                                </div>
                            </td>
                            <td width="15%">
                                <span class="font-through">￥1599.00</span>
                                <span class="font-red">￥1299.00</span>
                            </td>
                            <td width="10%">2</td>
                            <td width="15%">
                                <span>￥1299.00</span>
                                <span>（含运费￥0.00）</span>
                            </td>
                            <td width="10%">
                                <span>已付款</span>
                                <a href="javascript:void(0)">订单详情</a>
                            </td>
                            <td width="15%">
                                <a ui-sref="my/applyRefund" class="btn redbtn">申请退款</a> <br>
                                <a href="javascript:void(0)">取消订单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page">
                分页
            </div>
        </div>
    </div>

    <!--为你推荐-->
    <div class="base-recommend">
        <h2 class="title">为你推荐</h2>
        <ul class="br-main">
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer></footer>