<header></header>
<search-bar></search-bar>
<!--内容-->
<div id="container">
    <div class="main-nav">
        <div class="nav-inner">
            <ul class="nav-con page-nav">
                <li><a ui-sref="my" class="cut">首页</a></li>
                <li><a href="#">账户</a></li>
                <li><a ui-sref="my/message">消息</a></li>
            </ul>
        </div>
    </div>
    <div class="con-panle">
        <!--边侧导航-->
        <sub-nav></sub-nav>

        <!--正文-->
        <div class="col-main">
            <div class="cp-title">
                <h1>我的红包</h1>
            </div>
            <div class="red-packet">
                <ul class="page-tab">
                    <li class="cut">可用（5）</li>
                    <li>过期（0）</li>
                    <li>已用（0）</li>
                </ul>
                <ul class="rp-main">
                    <li>
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag usable"></div>
                    </li>
                    <li>
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag usable"></div>
                    </li>
                    <li>
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag usable"></div>
                    </li>
                    <li class="no-user">
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag used"></div>
                    </li>
                    <li class="no-user">
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag overdue"></div>
                    </li>
                    <li>
                        <div class="rp-name">国庆节红包活动</div>
                        <div class="rp-type">全场满100减20</div>
                        <div class="rp-time">有效期至2016-12-30-2017-01-03 24:00</div>
                        <div class="rp-tag usable"></div>
                    </li>
                </ul>
                <div class="page">
                    分页
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>