<div class="user-head">
    <div class="head-main">
        <h1>账户注册</h1>
    </div>
</div>

<div class="register">
    <div class="reg-step">
        <ul>
            <li class="cut">
                <span class="rs-num">1</span>
                <span class="rs-name">验证手机</span>
            </li>
            <li>
                <span class="rs-num">2</span>
                <span class="rs-name">设置用户名</span>
            </li>
            <li>
                <span class="rs-num">3</span>
                <span class="rs-name">注册成功</span>
            </li>
        </ul>
    </div>
</div>