<header></header>
<search-bar sub-title="购物车"></search-bar>
<!--内容-->
<div ng-cloak id="container" class="cart-panle">
    <div class="cart-main">
        <div class="cart-table-th cart-thead">
            <div class="th th-chk-txt"><input type="checkbox" ng-checked="isSelectedAll"
                                              ng-click="select(null, null, !isSelectedAll);getSelectedTotalAmount();">全选
            </div>
            <div class="th th-info">商品信息</div>
            <div class="th th-attribute">属性</div>
            <div class="th th-price">单价</div>
            <div class="th th-count">数量</div>
            <div class="th th-total">小计</div>
            <div class="th th-operate">操作</div>
        </div>

        <div ng-repeat="shop in shopList" class="cart-shop-item">
            <div class="cart-shop-info" ng-if="shop.buyProductList.length>0">
                <input ng-checked="shop.selected"
                       ng-click="select(shop.id, null, !shop.selected);getSelectedTotalAmount();" type="checkbox">

                <div class="shop-name">
                    <img ng-src="{{shop.logo}}" alt="" width="20">
                    {{shop.shopName}}
                </div>
                <div data-coupon-num="{{shop.couponNum}}" class="csi-coupon">优惠券</div>
            </div>

            <div ng-repeat="product in shop.buyProductList" class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk">
                        <input ng-checked="product.selected"
                               ng-click="select(shop.id, product.cartId, !product.selected);getSelectedTotalAmount();"
                               type="checkbox">
                    </div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img ng-src="{{product.mainImage}}" alt="">

                            <p>{{product.title}}</p>
                        </div>
                    </div>
                    <div class="th th-attribute">{{product.productAttributes}}</div>
                    <div class="th th-price">
                        <span>{{product.shopPrice | currency:"￥"}}</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus" ng-click="buyNumChange(product, product.productNum*1-1)">-</button>
                            <input ng-model="product.productNum" ng-change="buyNumChange(product, product.productNum*1)"
                                   type="text">
                            <button class="plus" ng-click="buyNumChange(product, product.productNum*1+1)">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>{{product.shopPrice * product.productNum||0 | currency:"￥"}}</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)" ng-click="delProduct([product.cartId])">删除</a>
                        <a href="javascript:void(0)"
                           ng-click="cartService.favorite(product.productId, product.isFavorite)">收藏</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-bar-holder">
        <div class="fbh-sellectAll">
            <input ng-checked="isSelectedAll" ng-click="select(shop.id, null, !shop.selected);" type="checkbox"> 全选
            <a href="javascript:void(0)" ng-click="delProduct(getSelectedCartIds())">删除选择的商品</a>
        </div>
        <div class="fbh-right">
            <a href="javascript:void(0)" ng-class="{'disabled':getSelectedCartIds().length==0}" ng-click="">结 算</a>
        </div>
        <div class="fbh-total">
            <span>已选中 <i>{{getSelectedCartIds().length}}</i> 件商品</span>
            <span>总价：</span>
            <span class="total">{{totalAmount||0 | currency:"￥"}}</span>
        </div>
    </div>

    <!--为你推荐-->
    <!--<div class="base-recommend">
        <h2 class="title">为你推荐</h2>
        <ul class="br-main">
            <li ng-repeat="rec in recommend">
                <div class="br-img">
                    <img ng-src="{{rec.mainImage}}" alt="">
                </div>
                <div class="br-name ellipsis">{{rec.title}}</div>
                <div class="price-sales">
                    <span class="price">{{rec.shopPrice | currency:"￥"}}</span>
                    <span class="sales">{{rec.soldnum}}</span>
                </div>
            </li>
        </ul>
    </div>-->
    <suggest size="10"></suggest>
</div>

<footer></footer>