<header></header>
<div id="header">
    <div class="mall-logo">
        <img src="images/mall_logo.png" alt="">
    </div>
    <div class="mall-text">购物车</div>
    <div class="mall-search">
    <div class="ms-form">
        <input type="text" class="ms-input">
        <button class="ms-submit">搜索</button>
        </div>
    </div>
</div>

<!--内容-->
<div id="container" class="cart-panle">
    <div class="cart-main">
        <div class="cart-table-th cart-thead">
            <div class="th th-chk-txt"><input type="checkbox">全选</div>
            <div class="th th-info">商品信息</div>
            <div class="th th-attribute">属性</div>
            <div class="th th-price">单价</div>
            <div class="th th-count">数量</div>
            <div class="th th-total">小计</div>
            <div class="th th-operate">操作</div>
        </div>

        <div class="cart-shop-item">
            <div class="cart-shop-info">
                <input type="checkbox">
                <div class="shop-name">
                    <img src="images/tem/my_shop_logo.jpg" alt="" width="20">
                    moco旗舰店
                </div>
                <div class="csi-coupon">
                    优惠券
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk"><input type="checkbox"></div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-attribute">
                        颜色分类：深宝蓝色 <br>
                        尺码：M/165
                    </div>
                    <div class="th th-price">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus">-</button>
                            <input type="text" value="1">
                            <button class="plus">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)">删除</a>
                        <a href="javascript:void(0)">收藏</a>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk"><input type="checkbox"></div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-attribute">
                        颜色分类：深宝蓝色 <br>
                        尺码：M/165
                    </div>
                    <div class="th th-price">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus">-</button>
                            <input type="text" value="1">
                            <button class="plus">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)">删除</a>
                        <a href="javascript:void(0)">收藏</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-shop-item">
            <div class="cart-shop-info">
                <input type="checkbox">
                <div class="shop-name">
                    <img src="images/tem/my_shop_logo.jpg" alt="" width="20">
                    moco旗舰店
                </div>
                <div class="csi-coupon">
                    优惠券
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk"><input type="checkbox"></div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-attribute">
                        颜色分类：深宝蓝色 <br>
                        尺码：M/165
                    </div>
                    <div class="th th-price">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus">-</button>
                            <input type="text" value="1">
                            <button class="plus">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)">删除</a>
                        <a href="javascript:void(0)">收藏</a>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk"><input type="checkbox"></div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-attribute">
                        颜色分类：深宝蓝色 <br>
                        尺码：M/165
                    </div>
                    <div class="th th-price">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus">-</button>
                            <input type="text" value="1">
                            <button class="plus">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)">删除</a>
                        <a href="javascript:void(0)">收藏</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-shop-item">
            <div class="cart-shop-info">
                <input type="checkbox">
                <div class="shop-name">
                    <img src="images/tem/my_shop_logo.jpg" alt="" width="20">
                    moco旗舰店
                </div>
                <div class="csi-coupon">
                    优惠券
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-table-th">
                    <div class="th th-chk"><input type="checkbox"></div>
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-attribute">
                        颜色分类：深宝蓝色 <br>
                        尺码：M/165
                    </div>
                    <div class="th th-price">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-count">
                        <div class="cart-count">
                            <button class="minus" disabled>-</button>
                            <input type="text" value="1">
                            <button class="plus">+</button>
                        </div>
                    </div>
                    <div class="th th-total">
                        <span>￥1299.00</span>
                    </div>
                    <div class="th th-operate">
                        <a href="javascript:void(0)">删除</a>
                        <a href="javascript:void(0)">收藏</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="float-bar-holder">
        <div class="fbh-sellectAll">
            <input type="checkbox"> 全选
            <a href="javascript:void(0)">删除选择的商品</a>
        </div>
        <div class="fbh-right">
            <a href="javascript:void(0)">结 算</a>
        </div>
        <div class="fbh-total">
            <span>已选中 <i>2</i> 件商品</span>
            <span>总价：</span>
            <span class="total">￥2598.00</span>
        </div>
    </div>

    <!--为你推荐-->
    <div class="base-recommend">
        <h2 class="title">为你推荐</h2>
        <ul class="br-main">
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
        </ul>
    </div>

</div>

<footer></footer>