<header min="true"></header>
<div id="header" class="min">
    <div class="mall-logo">
        <img src="images/mall_logo.png" alt="">
    </div>
    <div class="order-stepbar">
        <ul>
            <li class="step-first cut">
                <div class="step-name">查看购物车</div>
                <div class="step-no"></div>
            </li>
            <li>
                <div class="step-name">确认订单</div>
                <div class="step-no">2</div>
            </li>
            <li>
                <div class="step-name">支付成功</div>
                <div class="step-no">3</div>
            </li>
            <li class="step-last">
                <div class="step-name">完成</div>
                <div class="step-no">4</div>
            </li>
        </ul>
    </div>
</div>

<!--内容-->
<div id="min-content">

    <div class="cp-title">
        <h1>请完善并确认支付</h1>
    </div>
    <div class="confirm-order">
        <div class="pick-type">
            <a href="javascript:void(0)" class="cut">收货地址</a>
            <a href="javascript:void(0)">上门自提</a>
        </div>
        <ul class="address-list">
            <li class="al-item cut">
                <div class="al-default-tag">默认地址</div>
                <div class="al-name">广东广州 黄生(收)</div>
                <div class="al-address">天河车陂棠下东路234号</div>
                <div class="al-phone">13800138000</div>
                <a class="al-editAddress" href="javascript:void(0)">修改</a>
                <i class="al-cut"></i>
            </li>
            <li class="al-item">
                <div class="al-default-tag">默认地址</div>
                <div class="al-name">广东广州 黄生(收)</div>
                <div class="al-address">天河车陂棠下东路234号</div>
                <div class="al-phone">13800138000</div>
                <a class="al-editAddress" href="javascript:void(0)">修改</a>
                <i class="al-cut"></i>
            </li>
            <li class="al-item">
                <div class="al-default-tag">默认地址</div>
                <div class="al-name">广东广州 黄生(收)</div>
                <div class="al-address">天河车陂棠下东路234号</div>
                <div class="al-phone">13800138000</div>
                <a class="al-editAddress" href="javascript:void(0)">修改</a>
                <i class="al-cut"></i>
            </li>
            <li class="al-item">
                <div class="al-default-tag">默认地址</div>
                <div class="al-name">广东广州 黄生(收)</div>
                <div class="al-address">天河车陂棠下东路234号</div>
                <div class="al-phone">13800138000</div>
                <a class="al-editAddress" href="javascript:void(0)">修改</a>
                <i class="al-cut"></i>
            </li>
            <li class="al-item">
                <div class="al-default-tag">默认地址</div>
                <div class="al-name">广东广州 黄生(收)</div>
                <div class="al-address">天河车陂棠下东路234号</div>
                <div class="al-phone">13800138000</div>
                <a class="al-editAddress" href="javascript:void(0)">修改</a>
                <i class="al-cut"></i>
            </li>
        </ul>
        <div class="address-operate">
            <a class="new-add" href="javascript:void(0)">使用新地址</a>
            <a class="back-cart" href="javascript:void(0)">返回购物车修改</a>
        </div>
        <div class="co-invoice">
            <div class="coi-title">
                <h2>发票信息</h2>
            </div>
            <div class="coi-main">
                <span class="invoice-type">普通发票</span>
                <span class="invoice-title">北京宝润兴业科技股份有限公司 明细</span>
                <a class="invoice-operate">修改</a>
            </div>
        </div>
        <div class="co-orderInfo">
            <h2 class="co-title">确认订单信息</h2>
            <div class="oi-head oi-table">
                <div class="th th-info">店铺/商品</div>
                <div class="th th-sku">商品属性</div>
                <div class="th th-price">单价</div>
                <div class="th th-count">数量</div>
                <div class="th th-total">小计</div>
            </div>

            <div class="oi-item">
                <div class="oi-thead">
                    <img src="images/tem/my_shop_logo.jpg" alt="">
                    <span class="shop-name">Mo&Co店铺</span>
                </div>
                <div class="oi-tbody oi-table">
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-sku">
                        颜色分类:红色 <br>
                        尺寸大小:L
                    </div>
                    <div class="th th-price">￥1299.00</div>
                    <div class="th th-count">2</div>
                    <div class="th th-total">￥1299.00</div>
                </div>
                <div class="oi-tbody oi-table">
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-sku">
                        颜色分类:红色 <br>
                        尺寸大小:L
                    </div>
                    <div class="th th-price">￥1299.00</div>
                    <div class="th th-count">2</div>
                    <div class="th th-total">￥1299.00</div>
                </div>
                <div class="oi-orderExt">
                    <div class="oi-sendMsg">
                        <label>给卖家留言:</label>
                        <textarea class="txt-big" rows="4"></textarea>
                        <span>20/200</span>
                    </div>
                    <div class="oi-extInfo">
                        <div class="ext-item">
                            <label>店铺优惠:</label>
                            <select class="txt-inside">
                                <option value="1">省10元：10元优惠券</option>
                            </select>
                            <span class="ei-price">-￥10.00</span>
                        </div>
                        <div class="ext-item">
                            <label>运送方式:</label>
                            <span class="txt-inside">快递</span>
                            <span class="ei-price">￥10.00</span>
                        </div>
                    </div>
                </div>
                <div class="oi-total">
                    店铺合计:(含运费)
                    <span>￥88.00</span>
                </div>
            </div>

            <div class="oi-item">
                <div class="oi-thead">
                    <img src="images/tem/my_shop_logo.jpg" alt="">
                    <span class="shop-name">Mo&Co店铺</span>
                </div>
                <div class="oi-tbody oi-table">
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-sku">
                        颜色分类:红色 <br>
                        尺寸大小:L
                    </div>
                    <div class="th th-price">￥1299.00</div>
                    <div class="th th-count">2</div>
                    <div class="th th-total">￥1299.00</div>
                </div>
                <div class="oi-tbody oi-table">
                    <div class="th th-info">
                        <div class="inner-td-pro">
                            <img src="images/tem/tem_floor_pro.jpg" alt="">
                            <p>Mo&Co.圆领套头落肩喇叭袖纯色百搭羊毛针织衫MA1633SWT25 moco</p>
                        </div>
                    </div>
                    <div class="th th-sku">
                        颜色分类:红色 <br>
                        尺寸大小:L
                    </div>
                    <div class="th th-price">￥1299.00</div>
                    <div class="th th-count">2</div>
                    <div class="th th-total">￥1299.00</div>
                </div>
                <div class="oi-orderExt">
                    <div class="oi-sendMsg">
                        <label>给卖家留言:</label>
                        <textarea class="txt-big" rows="4"></textarea>
                        <span>20/200</span>
                    </div>
                    <div class="oi-extInfo">
                        <div class="ext-item">
                            <label>店铺优惠:</label>
                            <select class="txt-inside">
                                <option value="1">省10元：10元优惠券</option>
                            </select>
                            <span class="ei-price">-￥10.00</span>
                        </div>
                        <div class="ext-item">
                            <label>运送方式:</label>
                            <span class="txt-inside">快递</span>
                            <span class="ei-price">￥10.00</span>
                        </div>
                    </div>
                </div>
                <div class="oi-total">
                    店铺合计:(含运费)
                    <span>￥88.00</span>
                </div>
            </div>

        </div>
    </div>

    <!--确认信息-->
    <div class="order-payInfo">
        <div class="payInfo-wrapper">
            <div class="order-realPay">
                <span class="realPay-title">实付金额:</span>
                <span class="realPay-price">￥88.00</span>
            </div>
            <div class="order-submitOrder">
                <a class="go-back" href="javascript:void(0)">返回购物车</a>
                <a class="go-submit" href="javascript:void(0)">提交订单</a>
            </div>
        </div>
    </div>
</div>

<footer></footer>