<header></header>
<search-bar></search-bar>

<!--内容-->
<div id="container">
    <div class="min-box">
        <!--面包屑-->
        <div class="crumbs-nav">
            <a>全部</a>
            <a class="crumbs-arrow">品牌女装</a>
            <div class="crumbs-arrow crumbs-search">
                <input type="text">
                <button><i class="iconfont icon-search"></i></button>
            </div>
        </div>

        <div class="product-list-panle">
            <!--过滤条件-->
            <div class="plp-filter">
                <div class="fil-item fil-brand">
                    <div class="fil-name">品牌</div>
                    <div class="fil-list">
                        <ul class="brand-list">
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                        </ul>
                        <div class="fil-select">
                            <a href="javascript:void(0)"><i class="iconfont icon-add1"></i> 多选</a>
                        </div>
                        <div class="fil-more">
                            <a href="javascript:void(0)">更多 <i class="iconfont icon-down-line"></i></a>
                        </div>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">品牌女装</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">品牌男装</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">其它分类</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="filter-more">
                <a href="javascript:void(0)">更多选项 <i class="iconfont icon-down-line"></i></a>
            </div>
            <!--排序-->
            <div class="plp-sort">
                <a class="pSort" href="javascript:void(0)">综合 <i class="iconfont icon-small-down"></i></a>
                <a class="pSort" href="javascript:void(0)">人气 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">评价 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">销量 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">价格 <i class="iconfont icon-updownswitch"></i></a>

                <a class="eSort ml" href="javascript:void(0)">促销 <i class="iconfont icon-down-line"></i></a>
                <a class="eSort" href="javascript:void(0)">筛选 <i class="iconfont icon-down-line"></i></a>

                <a class="tSort pSort-cut ml" href="javascript:void(0)"><i class="iconfont icon-shop"></i>店铺</a>

                <a class="thSort" ui-sref="product/productList"><i class="iconfont icon-list-img"></i>大图</a>
                <a class="thSort" ui-sref="product/productListSmall"><i class="iconfont icon-list"></i>小图</a>

                <div class="min-page">
                    <span>1/12</span>
                    <a href="javascript:void(0)"><i class="iconfont icon-left"></i></a>
                    <a href="javascript:void(0)"><i class="iconfont icon-right"></i></a>
                </div>

            </div>
            <!--商品列表-->
            <div class="collect-shop">
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-shop-info">
                        <div class="cs-shop-logo"><img src="images/tem/my_shop_logo.jpg" alt=""></div>
                        <div class="cs-shop-name">与狼共舞官方旗舰店</div>
                        <div class="shopman-explain">
                            <span>店铺说明:</span>主营时尚童装
                        </div>
                        <div class="shop-stock">
                            <span>销量：54件</span>
                            <span>共165件宝贝</span>
                        </div>
                    </div>
                    <div class="cs-product-list">
                        <div class="cs-pl-title">
                            <ul class="cs-pl-tab">
                                <li class="cut">本周上新 <span>0</span></li>
                                <li>热销 <span>165</span></li>
                            </ul>
                            <a href="javascript:void(0)" class="cs-pl-more">查看更多 &gt;</a>
                        </div>
                        <ul class="p-list">
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                            <li class="p-item">
                                <div class="img-controller">
                                    <a href="#"><img src="images/tem/tem_floor_pro.jpg" alt=""></a>
                                </div>
                                <div class="name">贝凯 毛巾架太空铝浴巾架 卫浴五金挂件浴室挂件厕所卫生间置</div>
                                <div class="price">
                                    <span class="market-price">￥12.0</span>
                                    <span class="shop-price">￥18.9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--分页-->
            <div>分页</div>

        </div>
    </div>

    <!--热卖商品-->
    <div class="base-recommend">
        <h2 class="title">热卖商品</h2>
        <ul class="br-main">
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
        </ul>
    </div>

</div>

<footer></footer>