<header></header>
<search-bar></search-bar>

<!--内容-->
<div id="container">
    <div class="min-box">
        <!--面包屑-->
        <div class="crumbs-nav">
            <a>全部</a>
            <a class="crumbs-arrow">品牌女装</a>
            <div class="crumbs-arrow crumbs-search">
                <input type="text">
                <button><i class="iconfont icon-search"></i></button>
            </div>
        </div>

        <div class="product-list-panle">
            <div class="plp-"></div>
        </div>
    </div>
</div>

<footer></footer>