<header></header>
<search-bar></search-bar>

<!--内容-->
<div id="container">
    <div class="min-box">
        <!--面包屑-->
        <div class="crumbs-nav">
            <a>全部</a>
            <a class="crumbs-arrow">品牌女装</a>
            <div class="crumbs-arrow crumbs-search">
                <input type="text">
                <button><i class="iconfont icon-search"></i></button>
            </div>
        </div>

        <div class="product-list-panle">
            <!--过滤条件-->
            <div class="plp-filter">
                <div class="fil-item fil-brand">
                    <div class="fil-name">品牌</div>
                    <div class="fil-list">
                        <ul class="brand-list">
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="images/tem/tem_brand_shop_logo.jpg" alt=""></a></li>
                        </ul>
                        <div class="fil-select">
                            <a href="javascript:void(0)"><i class="iconfont icon-add1"></i> 多选</a>
                        </div>
                        <div class="fil-more">
                            <a href="javascript:void(0)">更多 <i class="iconfont icon-down-line"></i></a>
                        </div>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">品牌女装</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">品牌男装</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fil-item">
                    <div class="fil-name">其它分类</div>
                    <div class="fil-list">
                        <ul class="fl-list">
                            <li><a href="javascript:void(0)">专柜衬衫</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                            <li><a href="javascript:void(0)">专柜T恤</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="filter-more">
                <a href="javascript:void(0)">更多选项 <i class="iconfont icon-down-line"></i></a>
            </div>
            <!--排序-->
            <div class="plp-sort">
                <a class="pSort pSort-cut" href="javascript:void(0)">综合 <i class="iconfont icon-small-down"></i></a>
                <a class="pSort" href="javascript:void(0)">人气 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">评价 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">销量 <i class="iconfont icon-small-up"></i></a>
                <a class="pSort" href="javascript:void(0)">价格 <i class="iconfont icon-updownswitch"></i></a>

                <a class="eSort ml" href="javascript:void(0)">促销 <i class="iconfont icon-down-line"></i></a>
                <a class="eSort" href="javascript:void(0)">筛选 <i class="iconfont icon-down-line"></i></a>

                <a class="tSort ml" ui-sref="shop/shopList"><i class="iconfont icon-shop"></i>店铺</a>

                <a class="thSort thSort-cut" ui-sref="product/productList"><i class="iconfont icon-list-img"></i>大图</a>
                <a class="thSort" href="javascript:void(0)"><i class="iconfont icon-list"></i>小图</a>

            </div>
            <!--商品列表-->
            <div class="plp-list">

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

                <div class="pList-item">
                    <div class="pi-bigImg">
                        <img src="images/tem/tem_search_pro.png" alt="">
                    </div>
                    <ul class="pi-smallImg-item">
                        <li class="cut"><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                        <li><img src="images/tem/tem_search_pro.png" alt=""></li>
                    </ul>
                    <div class="pi-price">￥1499.00</div>
                    <div class="pi-name">MO&CO.2016欧美拼色双排扣中长款羊外套大衣MA631COT moco</div>
                </div>

            </div>

            <!--分页-->
            <div>分页</div>

        </div>
    </div>

    <!--热卖商品-->
    <div class="base-recommend">
        <h2 class="title">热卖商品</h2>
        <ul class="br-main">
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
            <li>
                <div class="br-img">
                    <img src="images/tem/tem_rec_pro.jpg" alt="">
                </div>
                <div class="br-name ellipsis">女装冬装2016新款潮超大毛领白鸭绒保暖羽绒服女中长款韩国面包服</div>
                <div class="price-sales">
                    <span class="price">￥129.00</span>
                    <span class="sales">23</span>
                </div>
            </li>
        </ul>
    </div>

</div>

<footer></footer>